<h1>
    Complaint Logging Page
</h1>
<form action="/log" method="POST">
    <label for="complaint">Complaint</label>
    <input type="text" placeholder="complaint" id="complaint" name="complaint">
    <label for="Location">Location</label>
    <input type="text" placeholder="location" id="location" name="location">
    <button>Log</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">SignUp</a></li>
</ul>