<html>
<head>
    <title>Contact us</title>
    <style>
        #main{
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 10px;
        }
        footer {
                position: relative;
                bottom: 0px;
                padding: 3px;
                background-color: rgb(24, 166, 223);
                color: white;
            }
    </style>
    <link rel="stylesheet" href="nav_css.css">
    <link rel="icon" href="icon.jpg" type="image/x-icon">
</head>

<body>

    <ul>
        <li><a href="homepage.html">Home</a></li>
        <li><a href="/viewIssue">View Issues</a></li>
        <li><a href="vedio_support.html">Helpfull Resources</a></li>
        <li><a href="acknowledment.html">Report complaint</a></li>
        
      </ul>

      <div id="main">
    <h1><u>CONTACT LIST</u></h1>

<table class="c1" cellspacing="0" cellpadding="4" rules="all" id="c1" style="border-width:1px;border-style:None;width:100%;border-collapse:collapse;">
		<tr style="color:#428BCA;background-color:#003399;font-weight:bold;">
			<th scope="col" style="width:3%;">S.No</th><th scope="col" style="width:10%;">State/UT's</th><th scope="col" style="width:12%;">Name</th><th scope="col" style="width:4%;">Rank</th><th scope="col" style="width:20%;">Email</th><th scope="col" style="width:12%;">Name</th><th scope="col" style="width:3%;">Rank</th><th scope="col" style="width:8%;">Contact</th><th scope="col" style="width:20%;">Email</th>
		</tr>
        <tr style="color:#003399;background-color:White;">
			<td>1</td>
            <td><span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_0">ANDAMAN & NICOBAR</span>
            </td><td>Sh. Vijay Singh, IPS</td><td>DIGP</td><td>digpint-anp@gov.in</td><td>Shri Satyendra Garg, IPS</td><td>DGP</td><td>03192230216</td><td>dgp.and@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td> 2</td>
            <td><span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_1">ANDHRA  PRADESH</span>
                                            </td><td>Ms. G. Radhika</td><td>SP</td><td>cybercrimes-cid@ap.gov.in</td><td>Shri M.Sunil Kumar Naik  IPS</td><td>DIGP</td><td>0863-2340183</td><td>cybercrimes-cid@ap.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            3
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_2">ARUNACHAL PRADESH</span>
                                            </td><td>Shri V. J. Chandran</td><td>IGP (Crime)</td><td>arpolice@rediffmail.com</td><td>Shri V J Chandran</td><td>IGP</td><td>9894067835</td><td>arpolice@rediffmail.com</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            4
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_3">ASSAM</span>
                                            </td><td>Shri Debaraj Upadhaya</td><td>DIGP</td><td>digp-cid@assampolice.gov.in</td><td>Sh. Surendra Kumar</td><td>IGP</td><td>9957189034</td><td>igp-cid@assampolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            5
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_4">BIHAR</span>
                                            </td><td>Shri. Vishjeet Dayal </td><td>SP</td><td>cybercell-bih@nic.in</td><td>Shri. Shiv Kumar Jha</td><td>DIG</td><td>0612-2238098</td><td>dgp-bih@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            6
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_5">CHANDIGARH</span>
                                            </td><td>Shri Omvir Singh Bishnoi</td><td>DIG</td><td>dig-chd@nic.in</td><td>Ms. Neha yadav </td><td>SP</td><td>9779580946</td><td>pssput-chd@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            7
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_6">CHHATTISGARH</span>
                                            </td><td>Shri.Manish Sharma</td><td>AIG</td><td>aigtech-phq.cg@gov.in</td><td>Sh. Kavi Gupta </td><td>DSP</td><td>9479191785</td><td>cybercell-phq.cg@gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            8
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_7">DADRA & NAGAR HAVELI AND DAMAN & DIU</span>
                                            </td><td>Shri Amit Sharma, IPS</td><td>SP</td><td>phq-dd@nic.in</td><td>Sh. Vikramjit Singh, IPS</td><td>DIGP</td><td>0260-2220140</td><td>digp-daman-dd@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            9
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_8">DELHI</span>
                                            </td><td>Shri KPS Malhotra</td><td>DCP</td><td>ncrp.delhi@delhipolice.gov.in</td><td>Mr. Prem Nath</td><td>Addl.CP</td><td>011-20892633</td><td>addlcp.cybertech@delhipolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            10
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_9">GOA</span>
                                            </td><td>Sh.Sobhit saxena </td><td>SP</td><td>spcyber@goapolice.gov.in</td><td>Sh. Paramaditya</td><td>DIGP</td><td>0832-2420883</td><td>digpgoa@goapolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            11
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_10">GUJARAT</span>
                                            </td><td>Sh. Saurabh Tolumbia</td><td>SP</td><td>cc-cid@gujarat.gov.in</td><td>Shri S.G. Trivedi</td><td>IGP</td><td>079-23250798</td><td>cc-cid@gujarat.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            12
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_11">HARYANA</span>
                                            </td><td>Shri Rajesh Kalia, HPS</td><td>SP</td><td>sp-cybercrimephq.pol@hry.gov.in</td><td>Smt. Charu Bali, IPS</td><td>ADGP</td><td>7814641313</td><td>adgp.crime@hry.nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            13
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_12">HIMACHAL PRADESH</span>
                                            </td><td>Sh. Sandeep Dhawal</td><td>Addl.SP</td><td>polcyberps-shi-hp@nic.in</td><td>Sh. Anant Pratap Singh</td><td>IG</td><td>0177-2627955</td><td>anantpratap.singh@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            14
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_13">JAMMU & KASHMIR</span>
                                            </td><td>Sh Manish Kumar </td><td>IGP</td><td>igcrime-jk@nic.in</td><td>Sh. RR Swan</td><td>DGP</td><td>0191-25822926</td><td>adgpcidjk@jkpolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            15
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_14">JHARKHAND</span>
                                            </td><td>Ms. Anil Kumar Jha </td><td>SP</td><td>spcyberps@jhpolice.gov.in</td><td>Sh. Ranjit Prasad(Retired)</td><td>IGP</td><td>06512490046</td><td>ig-orgcid@jhpolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            16
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_15">KARNATAKA</span>
                                            </td><td>Sh M D SHARATH</td><td>SP (Cyber Crime Division)</td><td>sharath.md@gov.in</td><td>Sh. Ramesh</td><td>DIGP</td><td>080-22251817</td><td>digadmincod@ksp.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            17
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_16">KERALA</span>
                                            </td><td>Sh Sreejith</td><td>IGP</td><td>ncrpkerala.pol@kerala.gov.in</td><td>Sh. Dr. Shaik Darvesh</td><td>ADGP</td><td>0471-2722215</td><td>adgpcrimes.pol@kerala.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            18
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_17">LADAKH</span>
                                            </td><td>Ms. Nilza Angmo</td><td>DSP</td><td>itsec-phq@police.ladakh.gov.in</td><td>Shri Gaurav Mahajan</td><td>SP</td><td>9419182740</td><td>soto-igp@police.ladakh.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            19
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_18">LAKSHADWEEP</span>
                                            </td><td>Sh Ramdulesh Meena</td><td>DSP</td><td>lak-sop@nic.in</td><td>Sh.Sharat Kumar Sinha , IPS</td><td>SP</td><td>04896-262258</td><td>lak-sop@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            20
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_19">MADHYA PRADESH</span>
                                            </td><td>Sh Niranjan B Vayangankar</td><td>DIGP</td><td>niranjan.vayangankar889@mppolice.gov.in</td><td>Shri Yogesh Choudhary</td><td>ADG,Cyber</td><td>0755-2770248</td><td>adg-cybercell@mppolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            21
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_20">MAHARASHTRA</span>
                                            </td><td>Shri. Vineet Agarwal</td><td>ADGP</td><td>sp.cbr-mah@gov.in</td><td>Shri.Yasahsavi yadav </td><td>SPL IGP</td><td>022-22160080</td><td>ig.cbr-mah@gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            22
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_21">MANIPUR</span>
                                            </td><td>Ms. Joyce Lalremmawi</td><td>SP</td><td>cidcb-mn@nic.in</td><td>Sh. Themthing Ngashangva</td><td>DIGP</td><td>0385-2450573</td><td>themthing.ng@gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            23
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_22">MEGHALAYA</span>
                                            </td><td>V.S. Rathore, IPS</td><td>SSP</td><td>sspcid-meg@nic.in</td><td>D. P. Marak, IPS</td><td>DIGP</td><td>0364-2550141</td><td>dig.cid-meg@gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            24
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_23">MIZORAM</span>
                                            </td><td>Sh. Neihchungnunga</td><td>DIG</td><td>cidcrime-mz@nic.in</td><td>Sh.S.B.K Singh</td><td>DGP</td><td>0389-2334682  </td><td>polmizo@rediffmail.com</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            25
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_24">NAGALAND</span>
                                            </td><td>Sh Zekotso Mero</td><td>IGP</td><td>cybercrimeps-ngl@gov.in</td><td>Sh. Renchamo P. Kikon</td><td>ADGP</td><td>0370-2223897</td><td>renchamo.p@gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            26
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_25">ODISHA</span>
                                            </td><td>Sh Bijay Kr Mallick</td><td>DSP</td><td>dirscrb.odpol@nic.in</td><td>Sh.Sarthak Sarangi</td><td>SP</td><td>0671-2306071</td><td>sp1cidcb.orpol@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            27
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_26">PUDUCHERRY</span>
                                            </td><td>Sh. Rahul Alwal</td><td>SSP</td><td>cybercell-police.py@gov.in</td><td>Sh. Dr. VJ Chandran</td><td>DIGP</td><td>0413-2231386</td><td>dig.pon@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            28
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_27">PUNJAB</span>
                                            </td><td>Ms. Nilambari Jagadale IPS</td><td>AIG</td><td>aigcc@punjabpolice.gov.in</td><td>Sh.Ram Singh IPS</td><td>ADGP</td><td>0172-2740120</td><td>adgp.mod@punjabpolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            29
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_28">RAJASTHAN</span>
                                            </td><td>Shri Gaurav Yadav</td><td>SP</td><td>ccps-raj@nic.in</td><td>Sh. Sharat Kaviraj</td><td>DIG</td><td>0141-2309547</td><td>ccps-raj@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            30
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_29">SIKKIM</span>
                                            </td><td>Sh. Tenzing Lodan lepcha</td><td>SP</td><td>spcid@sikkimpolice.nic.in</td><td>Sh. Sonam Detchu Bhutia</td><td>DySP</td><td>03592-204297</td><td>spcid@sikkimpolice.nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            31
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_30">TAMIL NADU</span>
                                            </td><td>Sh. Saroj kumar., SP (for OTHER CYBER CRIMES)</td><td>SP</td><td>sp1-ccdtnpolice@gov.in</td><td>Shri Shankar K.</td><td>IGP</td><td>044-29580300</td><td>sp1-ccdtnpolice@gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            32
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_31">TELANGANA</span>
                                            </td><td>Shri.Rajesh Kumar</td><td>IGP, Intelligence</td><td>cybercell-t4c14@tspolice.gov.in</td><td>Smt. Swathi Lakra</td><td>IGP</td><td>040-23147604</td><td>igp_wpc@cid.tspolice.gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            33
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_32">TRIPURA</span>
                                            </td><td>Sh. Ajit Pratap Singh</td><td> Dy.SP (Crime)</td><td>spcybercrime@tripurapolice.nic.in</td><td>Shri Subrata Chakraborty</td><td>AIGP,Crime</td><td>0381-2321741</td><td>aigcrime@tripurapolice.nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>
                                            34
                                        </td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_33">UTTARAKHAND</span>
                                            </td><td>Sh. Ajai Singh </td><td>SSP/STF</td><td>ccps.deh@uttarakhandpolice.uk.gov.in</td><td>Sh.Anshuman AP</td><td>IGP</td><td>0135-2651689</td><td>dgc-police-ua@nic.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>35</td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_34">UTTAR PRADESH</span>
                                            </td><td>Prof. Triveni Singh</td><td>SP</td><td>sp-cyber.lu@up.gov.in</td><td>Sh.Ram Kumar</td><td>ADG</td><td>0522-2390538</td><td>ccpsstf.gb-up@gov.in</td>
		</tr>
        
        <tr style="color:#003399;background-color:White;">
			<td>36</td><td>

                                                  <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_35">WEST BENGAL</span>
                                            </td><td>Sh. Kalyan Mukhopadhyay, IPS</td><td>DIG Special</td><td>ccpwb@cidwestbengal.gov.in</td><td>Dr. Pranav Kumar, IPS</td><td>IG-CID</td><td>033-24506100</td><td>ig2@cidwestbengal.gov.in</td>
		</tr>
	</table>
</div>
<footer>
    <p>This website is managed by team 5<br>
    For any feedback : 
    <a href="Feedback_form.html">feedback</a></p>
</footer>
</body>

    </html>