<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
        html{
            background: url(img.jpg) no-repeat center center fixed;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
             background-size:cover;
        }  
       </style>
       <link rel="icon" href="icon.jpg" type="image/x-icon">
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      
      <form action="/login" method="post">
        <label>Username</label>
        <input type="text" id="username" name="username" placeholder="" />
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="" /> <br><br><br>
        <button style="background-color: yellowgreen;">Submit</button>
      </form>
      <br>
    
    
     Not have an account?<a href="signup.html"><button style="background-color: yellowgreen;">SIGN UP</button></a>
    </div>
  </body>
</html>