<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
     html{
         background: url(img.jpg) no-repeat center center fixed;
         -webkit-background-size:cover;
         -moz-background-size:cover;
         -o-background-size:cover;
          background-size:cover;
     }  
    </style>
    <link rel="icon" href="icon.jpg" type="image/x-icon">
  </head>
  <body>
    <h1 style="color:rgb(127, 224, 16); font-family:verdana;"><u>CRIME AWARENESS PORTAL</u></h1>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <form action="/register" method="post">
        <label>UserName</label>
        <input type="text" id="username" name="username" placeholder="" />
        <label>First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="" />
        <label>Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="" />
        <label>Email</label>
        <input type="email" id="email" name="email" placeholder="" />
        <label>Phone Number</label>
        <input type="text" id="phone" name="phone" placeholder="" />
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="" />
        <br><br><br>
        <button style="background-color: rgb(127, 224, 16);">Submit</button>
      </form>
      <br>
      Already have an account? 
      <a href="/login"><button style="background-color: rgb(127, 224, 16);" >LOGIN</button> </a>
    </div>
    
  </body>
</html>



