<h1>
    User Info
</h1>
<form action="/userDef" method="POST">
    <label for="firstname">First Name </label>
    <input type="text" placeholder="firstname" id="firstname" name="firstname">
    <label for="lastname">Last Name </label>
    <input type="text" placeholder="lastname" id="lastname" name="lastname">
    <label for="age">Age </label>
    <input placeholder="age" id="age" name="age">
    <button>Submit</button>
</form>
<ul>
    <li><a href="/home">Home</a></li>
</ul>