<html>
    <head>
        <title>Helpfull videos</title>
        <style>
            #main{
                padding-left: 150px;
                padding-top: 50px;
            }

            td{
                padding: 50px;
            }
            footer {
                position: relative;
                bottom: 0px;
                padding: 3px;
                background-color: rgb(24, 166, 223);
                color: white;
            }
        </style>
        <link rel="stylesheet" href="nav_css.css">
        <link rel="icon" href="icon.jpg" type="image/x-icon">
    </head>
    <body>

        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="/viewIssue">View Issues</a></li>
            <li><a href="acknowledment.html">Report complaint</a></li>
            <li><a href="Contact_us.html">Contact us</a></li>
            
        </ul>

        <div id="main">
        <h1><u>HELPFULL RESOURCES</u></h1>

                <table>
                    <tr>
                        <td>
                            <video controls height="300px" width="300px" >
                                <source src="Free-Safety-Videos-Kitchen-Oil-Fire.mp4">
                            </video>
                        </td>
                        <td>
                            Safety videos for emergencies in the kitchen
                        </td>
                        <td>
                            <img src="PROPERTY CRIME MPD(1).jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <video controls height="300px" width="300px">
                                <source src="self_defence-video-1.mp4">
                            </video>
                        </td>
                        <td>
                            Self defence videos for women
                        </td>
                        <td>
                            <img src="crime_awar.jpeg" width="400" height="400">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <video controls height="300px" width="300px">
                                <source src="self_defence-video-2.mp4">
                            </video> 
                        </td>
                        <td>
                            Basic self defence
                        </td>
                        <td>
                            <img src="homesafety.png" width="700" height="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <video controls height="300px" width="300px">
                                <source src="self_defence-video-3.mp4">
                            </video>
                        </td>
                        <td>
                            Self defence
                        </td>
                    </tr>
                </table>
              
            </div>
            <footer>
                <p>This website is managed by team 5<br>
                For any feedback : 
                <a href="Feedback_form.html">feedback</a></p>
            </footer>
    </body>
</html>>

